<button (click)="goBack()">Back</button>
<div *ngIf="list">
  <label class="list-name-display" *ngIf="!isEdit" (click)="isEdit=true" from="name">{{list.name}}</label>
  <input *ngIf="isEdit" (keydown.enter)="isEdit=false; saveName()"
         type="text"
         id="name" [(ngModel)]="list.name"
          class="list-name">
  <div *ngFor="let item of items">
    <h4>
      <a [routerLink]="['/item', item.id]">{{item.name}}</a>
      <button (click)="delete(item)" class="delete">x</button>
    </h4>
  </div>
  <label>New item:</label> <input class="new-item" #itemName />
  <button (click)="add(itemName.value); itemName.value=''" class="add">
    Add
  </button>
  <input #searchBox class="search-box" (keyup)="search(searchBox.value)" />
  <div>
    <div *ngFor="let foundItem of foundItems | async" class="search-result">
      {{foundItem.name}}
    </div>
  </div>
</div>
